<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- href tag to link CSS code to HTML via flask -->
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

  <!-- script tag to link JS code to HTML via flask -->
  <script type="text/javascript" src="{{ url_for('static',filename='script.js')}}"></script>

  <!-- Including Bootstrap's CSS and JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <title>E-Care</title>
</head>

<!-- Start of main body -->

<body>

  <!-- Navbar of website -->

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">E-Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="http://127.0.0.1:5000/" role="link"
              aria-disabled="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="http://127.0.0.1:5000/#C6" role="link" aria-disabled="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#C7">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- This section contains a HTML form which the user is required to fill up to display his/her Emotion and Name -->

  <div class="form-title">
    <h1>EMOTION DETECTOR</h1>
  </div>
  <p class=text-muted>(Fill in the details to detect your emotion and name)</p>

  <!-- Contains the code to input Name and Image from user for emotion detection -->

  <div class="container">
    <div class="row ">

      <div class="form-box col-lg-5">
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" id="alert">

          <!-- Inputting Name of user -->
          <div class="form-content ">
            <label for="name">Name :</label>
            <input type="text" id="name" placeholder="Enter Name" style="height: 35px" name="input_name"
              class="form-control" required />
          </div>

          <!-- Inputting image of user -->
          <div class="img form-group">
            <label for="img">Upload Your Image : <p>
                <class class="text-muted">(Only png,jpg and jpeg formats allowed)</class>
              </p></label>
            <input type="file" class="form-control-file" id="img" name="file" accept="image/*"
              onchange="return validateFileType()" required />
          </div>

          <!-- This button will redirect the user to the Emotion Detection page where he will be able to see his name and emotion -->
          <div class="submit">
            <input type="submit" class="btn btn-primary primary" onclick="return validation()" />
          </div>
        </form>
      </div>
      <div class="col-lg-1">

      </div>
      <div class="col-lg-6 form_image">
        <!-- Illustration depicting form  -->
        <img src="static/form.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- This section contains the footer of the web app.Those who wish to contact me can contact me using the following details -->

  <br /><br /><br />
  <footer id="C7">
    <div class="container_footer">
      <div class="social_links">
        <a href="https://www.facebook.com/ishita.garg.982845"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://instagram.com/_ishigarg/"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/ishita-garg-9961b0219"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="mailto:mailigarg2001@gmail.com subject=feedback"><i class="fab fa-envelope fa-2x"></i></a>
      </div>
      <div class="finish">
        <p>© Emotional_Recogniser, All rights reserved</p>
        <p>Designed with love by <strong>Ishita Garg</strong></p>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>